CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

**/.idea/
# build files 
**/cmake-build-debug/
**/cmake/
**/git-dependencies/
**/build/
**/logs/*
**/venvrobot/
**/venv/
**/cmake
# ignore all .json files in the "/logs/" directory
**/logs/*.log
**/logs/*.json

/.idea/
